body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(45deg,#288ECC, #7FCEFF)
}

.tudo {
  background-color: #165780;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 80px;
  border-radius: 25px;
  color: #ffff;
  text-align: center;
  width: 180px;
}

.input{
  width: 150px;
  font-size: 20px;
  padding: 20px;
  outline: none;
  border-radius: 20px;
  border: none;
}
.botao{
  width: 125px;
  padding: 20px;
  border-radius: 20px;
  border: none;
  color: #ffff;
  background-color: #7FCEFF;
}